body {
    background-color: #ededed;
}

#container {
    background-color:#e6ffec;
    width: 800px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    border: 2px solid #e6ffec;
    box-shadow: 2px 2px 20px grey;
    border-radius: 10px;
}

#header {
    background-color: grey;
    text-align: center;
    color: white;
    font-family: Tahoma, Geneva, sans-serif
    
}

#addEmployee {
    background-color: #e8e1e1;
    font-family: Tahoma, Geneva, sans-serif;
   
}

#employeeList {
    background-color:#e8e1e1;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 10px;
}

#footer {
    background-color: #e8e1e1;
    font-family: Tahoma, Geneva, sans-serif;
}

table, th {
    border: 1px solid #e8e1e1;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: white;
  }

  li {
      margin-left: 20px;
  }